.box {
  height: 50px;
  position: absolute;
  right: 100px;
  bottom: 0px;
  transition: 2s;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.wrapper div:hover {
  background-color: aquamarine;
}
.wrapper {
  margin: 0 auto;
  width: 800px;
  height: 400px;
  position: relative;
}
.a {
  background-color: #d33939;
  bottom: 125px;
  width: 125px;
  z-index: 6;
}
.b {
  background-color: #b12d85;
  bottom: 100px;
  width: 200px;
  z-index: 5;
}
.c {
  background-color: #253658;
  bottom: 75px;
  width: 300px;
  z-index: 4;
}
.d {
  background-color: #397474;
  bottom: 50px;
  width: 400px;
  z-index: 3;
}
.e {
  background-color: #e24b0f;
  bottom: 25px;
  width: 500px;
  z-index: 2;
}
.f {
  background-color: #474341;
  bottom: 0px;
  width: 600px;
  z-index: 1;
}